.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10em;

  .header {
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: space-evenly;
  }
}

#submit-wrapper {
  display: flex;
  margin: 5rem;
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
  }

  .wrapper {
    padding: unset;
  }

  #submit-wrapper {
    display: flex;
    margin: 3rem;
  }
}
